.container{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgba(204, 214, 227, 0.400);
    border-radius: 20px;
    min-height: 7vh;
}

.title{
    display: flexbox;
    text-align: left;
    margin-left: 30px;
}

.tag{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu{
   float: right;
}

.body{
    background-color: rgba(204, 214, 227, 0.400);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.button{
    margin-left: 30px;
    height: 50px;
    width: 120px;
    border: solid 1px ;
    border-radius: 10px;
    cursor: pointer;
    font-family: monospace; 
    font-size: large;
    
}


.pink{
    background: rgba(218, 37, 199, 0.500);
    transition-duration: 1s;
}
.pink:hover{
    background: rgba(218, 37, 200, 0.779);

}

.blue{
    background: rgba(33, 83, 220, 0.500);
    transition-duration: 1s;
}
.blue:hover{
    background: rgba(33, 83, 220, 0.779);
}

.sblue{
    transition-duration: 1s;
    background: rgba(0, 255, 255, 0.500);
}
.sblue:hover{
    background: rgba(0, 255, 255, 0.779);
}

.bgimg{
    background-image: url("/images/homepage.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center;
}

.foot{
    text-align: center;
}